= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-devise' } do |f|
  %h2 Password Reset

  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true

  .form-actions
    = f.button :submit, 'Send Password Reset Email', class: 'btn-primary btn-block'

  = render 'devise/shared/links'
